[submodule "reactnative/weekday-selector"]
	path = reactnative/weekday-selector
	url = https://github.com/wniemiec-components-reactnative/weekday-selector.git
[submodule "reactnative/selectable-button"]
	path = reactnative/selectable-button
	url = https://github.com/wniemiec-component-reactnative/selectable-button.git
